.box1{
    
    height: 280px;
    width:60%;
    padding-left: 120px;
    padding-top: 120px;
    margin-left: 130px;
    
}
.boximg{
    /* background: blue; */
    height: 360px;
    width : 420px;
    display : inline-block;

}
.boxdiv{
    /* background: red; */
    height: 100px;
    width:400px;
    display: inline-block;
}
.cs{
    padding-left: 90px;


}
.sec{
   
    height: 500px;
    width:75%;
    padding-left: 120px;
    padding-top: 120px;
    padding-right: 50px;
}
.div1{
    /* background: red; */
    height: 300px;
    width:300px;
    display: inline-block;
    text-align: center;
}

.imbox{
    height: 50px;
    width : 50px;
    display : inline-block;



}
.div1{
    background:honeydew;
    height: 300px;
    width:300px;
    display: inline-block;
    text-align: center;
    padding-top: 100px;}

.kj{
    margin-left:160px;
}    