


    .sec{
        height: 200px;
        width: 70%;   
        padding-top:100px;
        margin: auto;
        margin-top:100px;
        text-align: center;
        color: white;
        
        
        background: rgb(162, 0, 255);



    }
    input{
        background: transparent;
        padding: 10px 40px;
        border: 5px white inset;
        color: tomato;

    }
    button{
       
        padding: 10px 20px;
    }
    ::placeholder{
        color: white;
    }